.cellCanvas{
    top: 10px;
    left:20px;
    position: fixed;
}
/* 
.grid-container{
    display: grid;
    grid-template-rows: 600px auto;
    grid-template-columns: 60% auto;
    grid-gap: 20px
} */